name: 'mirror'
on:
  push:
    branches:
        - __mirror

permissions:
  contents: write

jobs:
  mirror:
    runs-on: ubuntu-latest
    name: mirror
    steps:
      - name: mirror
        id: mirror
        uses: bridgelightcloud/github-mirror-action@v3
        with:
          origin: ''
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
